html {
  font-size: 62.5%;
}

body {
  background: $color-page;
  font-family: $main-font, sans-serif;
  font-size: 1.6rem;
  color: $color-main;
  width: 100%;
  min-height: 100vh;
}

.app-container {
  max-width: $app-max-wdith;
  margin: 0 auto;
  padding: 24px 16px;

  @include media-up(md) {
    padding: 42px 32px;
  }
}

.hidden{
  display: none;
}
