html {
  font-size: 62.5%;
}

body {
  background: $color-page;
  font-family: $main-font, sans-serif;
  font-size: 1.6rem;
  color: $color-main;
  width: 100%;
  min-height: 100vh;
  position: relative;

  &.disable-scroll {
    overflow: hidden;
  }

  &.noselect {
    user-select: none;
  }
}

.app-container {
  min-height: 100vh;
  max-width: $app-max-wdith;
  margin: 0 auto;
  padding: 24px 16px;
  display: flex;
  flex-direction: column;

  @include media-up(md) {
    padding: 42px 32px;
  }
}

.hidden {
  display: none !important;
}
