html{
  font-size: 62.5%;
}

body {
  background: radial-gradient(at top, hsl(214, 47%, 23%), hsl(237, 49%, 15%));
  font-family: $main-font, sans-serif;
  font-size: 1.6rem;
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  color: $color-main;
}
