.score-panel{
  border: 3px solid $color-border;
  border-radius: 8px;
  padding: 16px;
  margin-bottom: 36px;
  display: flex;
  justify-content: space-between;
  gap: 16px;
  align-items: center;

  @include media-up(sm){
    padding: 24px;
    margin-bottom: 48px;
  }

  &__header{
    h1{
      font-size: 2.2rem;

      @include media-up(sm){
       font-size: 3rem;
      }
    }
    
    span{
      display: block;
    }
  }

  &__score-wrapper{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 16px;
  }

  &__score{
    border-radius: 8px;
    background-color: $color-main;
    color: $color-score;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 24px;
    text-align: center;

    @include media-up(sm){
      padding: 8px 32px;
    }

    span{
      font-weight: 700;
      font-size: 1.6rem;
      letter-spacing: 1px;
      margin-right: 8px;
      
      @include media-up(sm){
        font-size: 1.8rem;
      }
    }

    strong{
      font-size: 1.8rem;
      font-weight: 700;
      color: $color-page;

      @include media-up(sm){
        font-size: 2.4rem;
      }
    }
  }
}